/* HSBC Univers Next Font Family */

@font-face {
  font-family: 'Univers Next';
  src: url('universnextforhsbc-thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Univers Next';
  src: url('universnextforhsbc-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Univers Next';
  src: url('universnextforhsbc-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Univers Next';
  src: url('universnextforhsbc-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Univers Next';
  src: url('universnextforhsbc-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
